.main {
    display: flex;
    flex-direction: row;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    background-color: var(--grey);
    color:var(--light-black);

    position: relative;
    border: 1px solid transparent;
    transition: border 0.3s, box-shadow 0.3s;
}
.selected {
    color:var(--white);
    background-color: var(--light-black);
}
.circle:hover {
    border: 1px solid var(--grey);
    box-shadow: 0 0 0 3px var(--white);

}

.kumbh_sans {
    font-family: 'Kumbh Sans', sans-serif;
}

.robot_slab {
    font-family: 'Roboto Slab', serif;
}

.space_mono {
    font-family: 'Space Mono', monospace;
}
