.main {
    background-color: var(--light-black);
    width: 410px;
    height: 410px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -16px -15px 26px var(--dark-violet);
}

.timer {
    transform: rotate(-90deg);

}
.timer_time {
    /* translate should be roughly 2r*/
    transform: rotate(90deg) translate(0px, -100px);
    fill: var(--light-blue);
    font-size: 14px;
    font-weight: bold;
}
.timer_text {
    /* translate should be roughly 2r*/
    transform: rotate(90deg) translate(0px, -80px);
    fill: var(--light-blue);
    font-size: 8px;
}
