.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 120px;
}
.label {
    font-size: 16px;
    color: var(--light-black);
}
.input {
    width: 100%;
    margin-top: 0.3rem;
    padding: 10px;
    border:none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background-color: var(--light-grey);
}