.main {

}
.button_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--black);
    border-radius: 2.5rem;
    height: 3rem;
    padding: 0.75rem;
    gap:1rem;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;

}
.break_button {
    width: 100px;
    border-radius: 3rem;
    padding: 0.8rem;
    cursor: pointer;
    background-color: var(--black);
    color:var(--grey)
}
.active {
    background-color: var(--highlight-color);
    color: var(--black);
}
.break_button::hover {

}
