:root {
  --black: #161932;
  --light-black: #1E213F;
  --dark-violet: #2E325A;
  --grey: #979797;
 --light-grey :#EFF1FA;
  --light-blue: #D7E0FF;
  --white: #FFFFFF;
  --pink: #F87070;
  --marine: #70F3f8;
  --violet: #D881F8;
  --highlight-color:var(--pink);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color:var(--light-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  color:var(--light-blue)
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

h1 {
  font-size: 100px;
  line-height: 120px;
  font-family: 'Kumbh Sans', sans-serif;
  color:var(--light-blue);
}

h1 h2 h3 h4 h5 h6 {
  color:var(--light-blue);
}

h1 {
  font-size: 100px;
  line-height: 120px;
  font-family: 'Kumbh Sans', sans-serif;
}
h2 {
  font-size: 28px;
  line-height: 34px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  /*:root {*/
  /*  color: #213547;*/
  /*  background-color: #ffffff;*/
  /*}*/
  /*a:hover {*/
  /*  color: #747bff;*/
  /*}*/
  /*button {*/
  /*  background-color: #f9f9f9;*/
  /*}*/
}
